# See how Encounter Type and Encounter Count relate to each other using a Chi Square

## Import packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Encounters = pd.read_excel("/Users/suzejones/Downloads/Finalsbo-encounters-fy20-fy23-apr .xlsx")

In [3]:
Encounters.head()

,Fiscal Year,Month Grouping,Month (abbv),Component,Demographic,Citizenship Grouping,Title of Authority,Encounter Type,Encounter Count
0,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,El Salvador,Title 8,Inadmissibles,2
1,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Guatemala,Title 8,Inadmissibles,1
2,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Mexico,Title 8,Inadmissibles,91
3,2020,FYTD,OCT,Office of Field Operations,Accompanied Minors,Other,Title 8,Inadmissibles,8
4,2020,FYTD,OCT,Office of Field Operations,FMUA,El Salvador,Title 8,Inadmissibles,38

In [4]:
Encounters.columns

Index(['Fiscal Year', 'Month Grouping', 'Month (abbv)', 'Component',
       'Demographic', 'Citizenship Grouping', 'Title of Authority',
       'Encounter Type', 'Encounter Count'],
      dtype='object')

In [5]:
from scipy import stats

In [6]:
Encounters_crosstab = pd.crosstab(Encounters['Encounter Type'], Encounters['Encounter Count'])

In [7]:
Encounters_crosstab

Encounter Count,0,1,2,3,4,5,6,7,8,9,...,59725,60046,60478,61220,67024,69889,73562,79048,80383,97582
Encounter Type,,,,,,,,,,,,,,,,,,,,,
Apprehensions,0,2,3,0,2,2,1,1,3,1,...,1,0,0,0,0,1,0,1,1,1
Expulsions,0,52,31,18,15,5,8,11,8,14,...,0,1,1,1,1,0,1,0,0,0
Inadmissibles,18,44,31,15,22,10,18,13,12,10,...,0,0,0,0,0,0,0,0,0,0

# The Encounter Count and the Encounter Type together are a bit of a mess because of the amount of data to compare